<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-image">
        <img src="/images/Usuario.jpg" alt="blue print image" />
        <span class="card-title">
          Registrar Proyecto
        </span>
      </div>
      <form autocomplete="off" action="/projects/add" method="POST">
        <div class="card-content">
          <div class="input-field">
            <label for="project-name">
              Nombre
            </label>
            <input
              placeholder="Ingrese el nombre del proyecto"
              type="text"
              id="project-name"
              name="name"
              class="validate"
              value="{{project.name}}"
              required
            />
            <span class="helper-text" data-error="Debe ingresar nombre al proyecto" data-success="Correcto"></span>
            {{#if errorModel.nameError}}
            <span style="color:red">Error: {{errorModel.nameError}} </span>
            {{/if}}
          </div>
          <!-- Area -->
          <div class="input-field">
            <label for="project-name">
              Area
            </label>
            <input
              placeholder="Ingrese el nombre del Area"
              type="text"
              id="project-area"
              name="area"
              class="validate"
              value="{{project.area}}"
              required
            />
            <span class="helper-text" data-error="Debe ingresar nombre del area" data-success="Correcto"></span>
            {{#if errorModel.areaError}}
            <span style="color:red">Error: {{errorModel.areaError}} </span>
            {{/if}}
          </div>
          <!-- Cargo -->
          <div class="input-field">
            <label for="project-name">
              Cargo 
            </label>
            <input
              placeholder="Ingrese el cargo del usuario"
              type="text"
              id="project-cargo"
              name="cargo"
              class="validate"
              value="{{project.cargo}}"
              required
            />
            <span class="helper-text" data-error="Debe ingresar cargo del usuario" data-success="Correcto"></span>
            {{#if errorModel.cargoError}}
            <span style="color:red">Error: {{errorModel.cargoError}} </span>
            {{/if}}
          </div>
          <!-- Codigo -->
          <div class="input-field">
            <label for="project-codigo">
              Codigo
            </label>
            <input
              name="codigo"
              type="text"
              id="project-codigo"
              class="materialize-textarea"
              required >{{project.codigo}}</input>
            <span class="helper-text" 
                  data-error="Debe asignar un codigo para este usuario" 
                  data-success="Correcto"></span>
            {{#if errorModel.codigoError}}
            <span style="color:red">Error: {{errorModel.codigoError}} </span>
            {{/if}}
          </div>
        </div>
        <div class="card-action">
          <button
            type="submit"
            class="blue darken-3 waves-effect waves-light btn">
            <i class="material-icons left"> save </i>
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>